*.a
*.bak
*.log
*.o
*.pc
*.swp
*.trs
*~
.deps
/autom4te.cache
/build-aux/*
!/build-aux/tap-driver.sh
/html
/latex
/shapereader-*
/tests/test_*
!/tests/test_*.c
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.status
configure
stamp-h1
